{% extends 'base.html' %}

{% block titulo_conteudo %} Detalhes do Cliente {% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header">
        <h4>Detalhes do Cliente</h4>
    </div>
    <div class="card-body">
        <div class="form-group mb-3">
            <label>ID:</label>
            <input type="text" class="form-control" value="{{ item.id }}" disabled>
        </div>
        
        <div class="form-group mb-3">
            <label>Nome:</label>
            <input type="text" class="form-control" value="{{ item.nome }}" disabled>
        </div>
        
        <div class="form-group mb-3">
            <label>CPF:</label>
            <input type="text" class="form-control" value="{{ item.cpf }}" disabled>
        </div>

        <div class="form-group mb-3">
            <label>Data de Nascimento:</label>
            <input type="text" class="form-control" value="{{ item.datanascimento }}" disabled>
        </div>

        <hr>
        <a href="{% url 'cliente' %}" class="btn btn-secondary">Voltar para Listagem</a>
    </div>
</div>
{% endblock %}