{% extends "base.html" %}


{% block titulo_conteudo %} Isso é um teste {% endblock titulo_conteudo %}


{% block conteudo %} 
<p>
<label for="estado">Digite um Estado: </label>
<input type="text" id="estado">
</p>
{% endblock conteudo %}


{% block javascript %}


<script>
    $(document).ready(function () {
        // Lista de países
        const estados = [
            "Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", 
            "Distrito Federal", "Espírito Santo", "Goiás", "Maranhão", 
            "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", 
            "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", 
            "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Roraima", 
            "Santa Catarina", "São Paulo", "Sergipe", "Tocantins"
        ];


        // Ativando o autocomplete no campo
        $("#estado").autocomplete({
            source: estados // Fonte de dados para o autocomplete
        });
    });
</script>


{% endblock javascript %}
